- if mobile_device == "mobile"
  %br
  = link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'

%h3= @oven.name

.cookie-info
  Cookie/s in oven:
  - if @oven.cookie
    #{@oven.cookie.batch_amount} cookie/s with #{@oven.cookie.fillings || "no fillings"}
    - if @oven.cookie.ready?
      #cookie-status-text
        %h6 Your batch of #{@oven.cookie.batch_amount} cookies with #{@oven.cookie.fillings || "no fillings"} is ready to pick up from Oven
    - else
      #cookie-status-text
        %h6 Baking a batch of #{@oven.cookie.batch_amount} cookie/s... please wait.
    #cookie-status-button
      = button_to "Retrieve #{@oven.cookie.batch_amount} Cookie/s", empty_oven_path, class: 'button tiny'
  - else
    None

- if mobile_device != "mobile"
  %br
  = link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'

- if @oven.cookie && !@oven.cookie.ready?
  :javascript
    $("#cookie-status-button").hide();
    const TIMEOUT_IN_SECONDS = 1000;
    const cookieStatusChecker = {
      interval: '',
      run: function () {
        interval = setInterval(
          this.checkCookieStatus,
          TIMEOUT_IN_SECONDS
        )
      },
      checkCookieStatus: function() {
        fetch('/api/cookies/#{@oven.cookie.id}/status')
        .then(response => response.json())
        .then(data => {
          if (data.status == "baked") {
            clearInterval(interval)
            const message = '<h6>Your batch of #{@oven.cookie.batch_amount} cookies with #{@oven.cookie.fillings || "no fillings"} is ready to pick up from Oven</h6>'
            $("#cookie-status-text").html(message)
            $("#cookie-status-button").show()
          }
        })
        .catch((error) => { clearInterval(interval) }
        )
      }
    }
    cookieStatusChecker.run()